<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>


<body>
<h2>Convertor de temperatura </h2>


<div>
    <form action="/convert" method="get">
        <label> Temperatura</label>

        <input name="temperatura" type="text"/>

        <label> ConvertIn</label>

        <input name="convertIn" type="text" />

        <input type="submit"/>

    </form>



    <!--<input type="text" name="convertIn" th:value="${convert.convertIn}" />-->
</div>


</body>
</html>



