<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2>Convertor de temperatură </h2>
<div>
    <form action="/converts" method="get">
        <label> Temperatura:</label>
        <input name="temperature" type="text">
        <label> ConvertIn:</label>
        <input name="convertIn" type="text" >
        <input type="submit"/>
    </form>
     <br>
    <span th:text="${mesaj}"/>
</div>
</body>
</html>



